<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />

  <title>HMPPS Estate Map</title>
  <link rel="stylesheet" href="/bootstrap.css" />
</head>
<body>
<div class="container">
  <p class="text-right">
    <a href="/.auth/logout">Sign out</a>
  </p>
  <%- body %>
</div>
</body>
</html>
